In [2]:
import pandas as pd 
import numpy as np
flock = pd.read_excel('FlockhardtTable.xlsx')
flock

              2C9             2C19             2D6
0   amitriptyline    amitriptyline      alprenolol
1      azilsartan      atomoxetine   amitriptyline
2    capecitabine     brivaracetam     amphetamine
3       celecoxib     carisoprodol    aripiprazole
4     clopidogrel  chloramphenicol     atomoxetine
..            ...              ...             ...
61            NaN              NaN    umeclidinium
62            NaN              NaN     valbenazine
63            NaN              NaN     venlafaxine
64            NaN              NaN      vilazodone
65            NaN              NaN  zuclopenthixol

[66 rows x 3 columns]

In [11]:
drugs = list()
var1 = list(flock['2C9'].dropna())
drugs.extend(var1)
var2 = list(flock['2C19'].dropna())
drugs.extend(var2)
var3 = list(flock['2D6'].dropna())
drugs.extend(var3)
print(drugs)
drugs = list(set(drugs))

li2c9 = list()
li2c19 = list()
li2d6 = list()
for drug in drugs:
    if drug in var1: li2c9.append(1)
    else: li2c9.append(0)

    if drug in var2: li2c19.append(1)
    else: li2c19.append(0)

    if drug in var3: li2d6.append(1)
    else: li2d6.append(0)

flock_conv = pd.DataFrame({
    'drugs': drugs,
    '2d6sub': li2d6,
    '2c19sub': li2c19,
    '2c9sub': li2c9
})
flock_conv

['amitriptyline', 'azilsartan', 'capecitabine', 'celecoxib', 'clopidogrel', 'diclofenac', 'doxepin', 'fluoxetine', 'fluvastatin', 'glibenclamide', 'glimepiride', 'glipizide', 'glyburide', 'ibuprofen', 'irbesartan', 'lesinurad', 'lornoxicam', 'losartan', 'meloxicam', 'nateglinide', 'olodaterol', 'ospemifene', 'phenytoin', 'piroxicam', 'rosiglitazone', 'ruxolitinib', 'naproxen', 'warfarin', 'suprofen', 'tamoxifen', 'tolbutamide', 'torsemide', 'valproic acid', 'venlafaxine', 'voriconazole', 'zafirlukast', 'amitriptyline', 'atomoxetine', 'brivaracetam', 'carisoprodol', 'chloramphenicol', 'citalopram', 'clobazam', 'clomipramine', 'clopidogrel', 'cyclophosphamide', 'diazepam', 'doxepin', 'escitalopram', 'esomeprazole', 'flibanserin', 'hexobarbital', 'imipramine', 'labetalol', 'lansoprazole', 'mavacamten', 'moclobemide', 'nelfinavir', 'nilutamide', 'omeprazole', 'ospemifene', 'pantoprazole', 'phenobarbitone', 'phenytoin', 'pomalidomide', 'primidone', 'progesterone', 'proguanil', 'propranolol', 'mephobarbital', 'warfarin', 'mephenytoin', 'teniposide', 'tofacitinib', 'venlafaxine', 'vilazodone', 'voriconazole', 'alprenolol', 'amitriptyline', 'amphetamine', 'aripiprazole', 'atomoxetine', 'brexpiprazole', 'bufuralol', 'cariprazine', 'carvedilol', 'chlorpheniramine', 'chlorpromazine', 'citalopram', 'clomipramine', 'clonidine', 'codeine', 'debrisoquine', 'desipramine', 'deutetrabenazine', 'dexfenfluramine', 'dextromethorphan', 'donepezil', 'doxepin', 'duloxetine', 'eliglustat', 'encainide', 'escitalopram', 'flecainide', 'fluoxetine', 'fluvoxamine', 'haloperidol', 'ibrutinib', 'imipramine', 'lidocaine', 'methoxyamphetamine', 'metoclopramide', 'metoprolol', 'mexiletine', 'minaprine', 'nebivolol', 'nortriptyline', 'ondansetron', 'oxycodone', 'palonosetron', 'paroxetine', 'perhexiline', 'perphenazine', 'phenacetin', 'phenformin', 'pimavanserin', 'pomalidomide', 'ponatinib', 'promethazine', 'propafenone', 'propranolol', 'risperidone', 'sparteine', 'tamoxifen', 'tetrabenzine', 'thioridazine', 'timolol', 'tramadol', 'umeclidinium', 'valbenazine', 'venlafaxine', 'vilazodone', 'zuclopenthixol']

               drugs  2d6sub  2c19sub  2c9sub
0          oxycodone       1        0       0
1       tetrabenzine       1        0       0
2          clonidine       1        0       0
3    dexfenfluramine       1        0       0
4       hexobarbital       0        1       0
..               ...     ...      ...     ...
117         diazepam       0        1       0
118       mavacamten       0        1       0
119         clobazam       0        1       0
120      amphetamine       1        0       0
121        celecoxib       0        0       1

[122 rows x 4 columns]

In [ ]:
flock_conv.to_excel('FlockhardtTable_converted.xlsx')